@charset "UTF-8";
/*
 * request
 *
########################################################################## */
/* variables / methods
========================================================================== */
/* object
========================================================================== */
.card {
  padding: 0;
}

/* style
========================================================================== */
.main {
  margin: 0 auto;
  /** Whole Form */
}
.main .form-request {
  width: 1024px;
  /** Header (Date, User) */
  /** Buttons */
}
.main .form-request .request-header {
  margin-bottom: 16px;
}
.main .form-request .request-header .date {
  width: 57.5%;
  height: 100px;
  margin-right: 2.5%;
}
.main .form-request .request-header .date .date-inner:nth-child(1) {
  width: 20%;
}
.main .form-request .request-header .date .date-inner:nth-child(2) {
  width: 60%;
}
.main .form-request .request-header .date .date-inner:nth-child(3) {
  width: 20%;
}
.main .form-request .request-header .date .date-select span {
  margin: 0 4px;
}
.main .form-request .request-header .date .date-select .button-confirm {
  margin-top: 8px;
}
.main .form-request .request-header .user {
  width: 40%;
}
.main .form-request .request-header .user section {
  height: 46px;
  padding-left: 4px;
  font-size: 1.2em;
  color: #727272;
}
.main .form-request .request-header .user section input, .main .form-request .request-header .user section select {
  margin-top: 8px;
}
.main .form-request .request-header .user .car {
  margin-top: 8px;
}
.main .form-request .request-nav {
  margin-bottom: 16px;
}
.main .form-request .request-nav .action {
  height: 46px;
  width: 72.5%;
  margin-right: 2.5%;
}
.main .form-request .request-nav .action .action-buttons {
  margin-top: 8px;
}
.main .form-request .request-nav .action .action-buttons li {
  margin: 0 2.5%;
}
.main .form-request .request-nav .copy {
  height: 46px;
  width: 25%;
}
.main .form-request .request-nav .copy ul {
  margin-top: 8px;
}
.main .form-request .request-nav .copy ul li {
  margin: 0 2.5%;
}
.main .form-request .requests {
  width: 100%;
}
.main .form-request .requests li:nth-child(1) {
  width: 3.75%;
}
.main .form-request .requests li:nth-child(2) {
  width: 3.25%;
}
.main .form-request .requests li:nth-child(3) {
  width: 12%;
}
.main .form-request .requests li:nth-child(4) {
  width: 2%;
}
.main .form-request .requests li:nth-child(5) {
  width: 12%;
}
.main .form-request .requests li:nth-child(6) {
  width: 50%;
}
.main .form-request .requests li:nth-child(7) {
  width: 12%;
}
.main .form-request .requests li:nth-child(8) {
  width: 5%;
}
.main .form-request .requests section {
  padding: 8px;
  text-align: center;
}
.main .form-request .requests section .time-separator {
  color: #727272;
}
.main .form-request .requests section div.status {
  color: #727272;
  border: 3px solid #B6B6B6;
  border-radius: 12px;
  display: inline-block;
  /* 依頼中 */
  /* ｷｬﾝｾﾙ */
  /* 承認 */
  /* 却下 */
  /* 保存 */
}
.main .form-request .requests section div.status.status-10 {
  color: #03A9F4;
  border-color: #03A9F4;
}
.main .form-request .requests section div.status.status-19 {
  color: #F44336;
  border-color: #F44336;
}
.main .form-request .requests section div.status.status-20 {
  color: #FFF;
  background-color: #B6B6B6;
}
.main .form-request .requests section div.status.status-30 {
  color: #FF9800;
  border-color: #FF9800;
}
.main .form-request .requests section div.status.status-50 {
  color: #4CAF50;
  border-color: #4CAF50;
}
.main .form-request .requests section .editing, .main .form-request .requests section .history {
  font-size: 1.3em;
}
.main .form-request .requests section .editing .fa, .main .form-request .requests section .history .fa {
  margin-right: 8px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

/*# sourceMappingURL=request.css.map */
