@import "common/variables";
/*
 * home
 *
########################################################################## */

/* variables / methods
========================================================================== */

/* object
========================================================================== */

/* style
========================================================================== */
.main {
	margin: 0 auto;
	text-align: center;

	.menus {
		width: 1024px;

		.card {
			width: 30%;
			height: 120px;
			margin: 0 5% 40px 0;
			// float: left;
			display: block;
			border-radius: 6px;

			&:nth-of-type(3n) {
				margin-right: 0;

				&:after {
					@extend %clearfix;
				}
			}

			h2 {
				color: $textCL;
				margin-bottom: 12px;
			}
			p {
				color: $secondCL;
				text-align: left;
				line-height: 1.4em;
				padding: 0 24px;
			}
		}

		// リンク風
		.card-linked {
			cursor: pointer;

			h2 {
				transition: color .5s;

				span {
					position: relative;
					display: inline-block;

					// 下線準備
					&:after {
						transition: width .3s;
						position: absolute;
						bottom: -4px;
						left: 50%;
						content: '';
						width: 0;
						height: 1px;
						background-color: $accentCL;
						@include prefix(transform, translateX(-50%));
					}
				}
			}
			&:hover {
				h2 {
					color: $accentCL;

					// 下線
					span:after {
						width: 100%;
					}
				}
			}
		}
	}
}