@import "common/variables";
/*
 * request
 *
########################################################################## */

/* variables / methods
========================================================================== */
$baseHeight: 46px;
$baseMarginB: 12px;
$baseMarginT: 8px;
// 1:Edit, 2:from, 3:>, 4:to, 5:Destination,
// 6:Status, 7:History, 8:Cancel, 9:Setting
$requstsWidthList: 2.5% 11.25% 2.5% 11.25% 47.5% 10% 5% 10%;

@mixin colorStatus($color) {
	color: $color;
	border-color: $color;
}

/* object
========================================================================== */
.card {
	padding: 0;
}

/* style
========================================================================== */
.main {
	margin: 0 auto;

	/** Whole Form */
	.form-request {
		width: 1024px;

		/** Header (Date, User) */
		.request-header {
			margin-bottom: $baseMarginB;

			.date {
				width: 57.5%;
				height: 100px;
				margin-right: 2.5%;
			}

			.user {
				width: 40%;

				section {
					height: $baseHeight;
					padding-left: 4px;
					font-size: 1.2em;
					color: $secondCL;

					input, select {
						margin-top: $baseMarginT;
					}
				}
				.car {
					margin-top: $baseMarginT;
				}
			}
		}

		/** Buttons */
		.request-nav {
			margin-bottom: $baseMarginB;

			.action {
				height: $baseHeight;
				width: 72.5%;
				margin-right: 2.5%;

				.action-buttons {
					margin-top: $baseMarginT;

					li {
						margin: 0 2.5%;
					}
				}
			}

			.copy {
				height: $baseHeight;
				width: 25%;

				ul {
					margin-top: $baseMarginT;

					li {
						margin: 0 2.5%;
					}
				}
			}
		}

		$requestsPadd: 8px;
		.requests {
			width: 100%;

			@for $i from 1 through length($requstsWidthList) {
				li:nth-child(#{$i}) {
					width: nth($requstsWidthList, $i);
				}
			}
			section {
				padding: $requestsPadd;
				text-align: center;

				.time-separator {
					color: $secondCL;
				}

				div.status {
					color: $secondCL;
					border: 3px solid $secondCL_L;
					border-radius: 12px;
					display: inline-block;

					/* 依頼中 */
					&.status-10 {
						@include colorStatus($accentCL);
					}
					/* ｷｬﾝｾﾙ */
					&.status-19 {
						@include colorStatus($statusCanCL);
					}
					/* 承認 */
					&.status-20 {
						color: $textCL_R;
						background-color: $secondCL_L;
					}
					/* 却下 */
					&.status-30 {
						@include colorStatus($statusRejCL);
					}
					/* 保存 */
					&.status-50 {
						@include colorStatus($statusPreCL);
					}
				}

				.editing, .history {
					font-size: 1.3em;

					.fa {
						margin-right: 8px;
						text-shadow: 2px 2px 1px rgba($textCL, .35);
						cursor: pointer;
					}
				}
			}
		}
	}
}