@import "../common/variables";
/*
 * home
 *
########################################################################## */

/* variables / methods
========================================================================== */

/* object
========================================================================== */

/* style
========================================================================== */
.header {
	background-color: $mainCL;
	color: $textCL_R;
	height: 80px;
	text-shadow: 2px 2px 2px rgba($textCL, .4);

	.system-name {
		color: $mainCL_L;
		padding: 4px 0 0 4px;
	}

	.view-name {
		font-size: 2em;
		line-height: .8em;
		letter-spacing: 6px;
		text-align: center;
	}

	.header-action {
		text-align: right;
		font-size: 1.4em;
		padding-right: 4px;

		.fa {
			cursor: pointer;
		}
	}
}