
// variables
// ##########################################################################
// colors
// 	D: dark
// 	L: light
// 	R: reverse
// ==========================================================================
$mainCL: #3F51B5;
$mainCL_D: #303F9F;
$mainCL_L: #C5CAE9;
$accentCL: #03A9F4;
$textCL: #000;
$textCL_R: #FFF;
$secondCL: #727272;
$secondCL_L: #B6B6B6;

$backCL: #f2f3f0;

$statusRejCL: #FF9800;
$statusPreCL: #4CAF50;
$statusCanCL: #F44336;


// size
// ==========================================================================
$mainCL: #3F51B5;
$xxs  : 10;
$xs   : 20;
$s    : 35;
$m    : 50;
$l    : 65;
$xl   : 75;
$xxl  : 90;
$full : 100;

// methods
// ==========================================================================
$mainCL: #3F51B5;
%clearfix {
	content: "";
	clear: both;
	display: block;
}

// TODO: DOC
// ベンダプレフィックスを定義
$set-prefix: '', -moz-, -webkit-;
// プロパティにプレフィックスを付与
@mixin prefix($name, $value) {
	@each $prefix in $set-prefix {
		#{$prefix}#{$name}: $value;
	}
}