@import "variables";

/* CSS Reset
================================================================ */
ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
	line-height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: $backCL;
}

/* object
================================================================ */
.card {
	box-shadow: 4px 4px 4px -3px rgba(0, 0, 0, .4);
	padding: 24px 0;
}

/* layout
================================================================ */
/* フロート解除 */
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/* 上下中央寄せ */
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-center {
	margin: 0 auto;
}

/* function
================================================================ */
.hidden { display: none;}
.invisible { visibility: hidden; }

/* memo
================================================================ */
.cake-debug-output {z-index: 9999;}