@import "variables";
/*
 * Form style
 *
########################################################################## */
/* variables / methods
========================================================================== */
%input {
	color: $secondCL;
	border: 1px solid $secondCL_L;
	border-radius: 3px;
	padding: 2px 6px;
}

%textSeries {
	transition:
		background-color .5s linear
		, border-color .5s linear;
}

@mixin textSeriesTransition() {
	border-color: rgba(darken($accentCL, 25%), .3);
	background-color: rgba(lighten($accentCL, 35%), .2);
	transition:
		background-color .5s ease-out
		, border-color .5s ease-out;
	outline: none;
}

/* text / select
========================================================================== */
input[type="text"],
input[type="password"],
textarea,
select {
	@extend %input;
	@extend %textSeries;
}

input[type="text"],
input[type="password"],
select {
	box-sizing: border-box;
	height: 30px;

	&:hover
	, &:focus {
		@include textSeriesTransition();
	}
}

textarea {
	outline: none;
	&:hover, &focus {
		@include textSeriesTransition();
	}
}


select {
	background-color: #fff;
	cursor: pointer;
	line-height: 1.2em;
	font-size: 0.9em;
	min-height: 28px;
	min-width: 48px;
	outline: none;

	& option {
		background-color: #eee;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
	}
}

input[placeholder]::-webkit-input-placeholder {
	color: $secondCL_L;
	font-size: 1rem;
}

/* button
========================================================================== */
input[type="button"],
button {
	@extend %input;
	border: 1px solid #FFF;
	background-color: $accentCL;
	color: $textCL_R;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	transition: background, border .5s;
	outline: none;

	&:hover {
		background-color: rgba($accentCL, .5);
		border: $mainCL_L solid 1px;
	}

	&.mortion {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		line-height: 1.5em;
		outline: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all .3s;
		transition: all .3s;

		&::before, &::after {
			position: absolute;
			z-index: -1;
			display: block;
			content: ' ';
		}
	}
	/* 広がる */
	&.mortion-spacing:hover {
		letter-spacing: 2px;
	}

	/* 白抜き */
	&.mortion-whiteout {
		border: 2px solid $accentCL;
		&:hover, &:active {
			border: 2px solid $accentCL;
			background-color: #FFF;
			color: $accentCL;
			text-shadow: none;
		}
	}

	/* 透過 */
	&.mortion-transparent {
		background-color: transparent;
		border: 2px solid #FFF;
		color: #FFF;

		&:hover {
			background-color: rgba(#FFF, .2);
		}
	}
}

/* radio / checkbox
========================================================================== */
// input[type="radio"],
// input[type="checkbox"] {
// 	display: none;
// }

// .radio,
// .checkbox {
// 	box-sizing: border-box;
// 	border-radius: 6px;
// 	cursor: pointer;
// 	display: inline-block;
// 	position: relative;
// 	margin: 0 20px 8px 0;
// 	padding: 8px 8px 8px 42px;
// 	vertical-align: middle;
// 	-webkit-transition: background-color .2s linear;
// 	transition: background-color .2s linear;

// 	&:hover {
// 		background-color: rgba($accentCL, 0.2);

// 		&:after {
// 			border-color: $accentCL;
// 		}
// 	}
// 	&:before {
// 		-webkit-transition: opacity .2s linear;
// 		transition: opacity .2s linear;
// 		position: absolute;
// 		top: 50%;
// 		display: block;
// 		content: '';
// 		opacity: 0;
// 	}
// 	&:after {
// 		-webkit-transition: border-color .2s linear;
// 		transition: border-color .2s linear;
// 		position: absolute;
// 		top: 50%;
// 		left: 15px;
// 		display: block;
// 		margin-top: -10px;
// 		width: 16px;
// 		height: 16px;
// 		border: 2px solid #bbb;
// 		border-radius: 6px;
// 		content: '';
// 	}
// }

// .radio:before {
// 	left: 20px;
// 	margin-top: -5px;
// 	width: 10px;
// 	height: 10px;
// 	border-radius: 50%;
// 	background-color: $accentCL;
// }
// input[type="radio"]:checked + .radio:before {
//   opacity: 1;
// }

// .checkbox:before {
// 	left: 21px;
// 	margin-top: -7px;
// 	width: 5px;
// 	height: 9px;
// 	border-right: 3px solid $accentCL;
// 	border-bottom: 3px solid $accentCL;
// 	-webkit-transform: rotate(45deg);
// 	-ms-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
// input[type="checkbox"]:checked + .checkbox:before {
//   opacity: 1;
// }